@import "react-alice-carousel/lib/alice-carousel.css";


.body{
  background-color:black;
}
.head{
  height: 75vh;
  
  /* opacity: 0.75; */
}
.head::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.574)) , url("../public/cypt.jpg");
  /* opacity: 0.50; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  height: 75vh;
  z-index:-3;
}
a{
  text-decoration: none!important;

}
a::hover{
  color: grey!important;
}

.footer{
  margin-top: 15%!important;
}
.coinImagee{
  height: 120px!important;
  width: 120px!important;
}
body {
  background: #121212;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

p {
  margin: 0 0 13px 0;
  color: rgb(168, 158, 158);
}

a {
  color: #fff;
}
a:hover{
  color: gold;
}
.coin-detail{
  border-right: 2px solid white;
}

.form-control{
  border:1px solid #121212!important ;
}
.input-group-text {
  border:1px solid #121212!important ;
  
}

.episode__content {
  border-top: 2px solid rgb(116, 109, 109);
}
.font{
  width: 50px;
}

/* //Carousel */

.carousel-img {
  height: 100px;
  width: auto;
  align-items: center;
}

.carousel-container {
  margin-top: 175px;
  color: white !important;
}